@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title Us</h2>

<p>As leading experts in the field of online database management, we have been pioneering the field for several weeks.</p>

<p>Interested in a career with us?  Unfortunately we do not have any paid positions open, but feel free to check back!</p>