@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Us</h2>

<p>Need help with setting up or managing your online database?  Feel free to reach out to us at the information below.</p>

<address>
    6767 W O Ave.<br />
    Kalamazoo, MI 49009<br />
    <abbr title="Phone">P:</abbr>
    269.555.5555
</address>

<p> Hours: M-F 8-5</p>