@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Beverage Database Site</h1>
    <p class="lead">The go-to site that offers premium tracking capabilites for your beverage database.</p>
</div>

<h2>Easy to Use</h2>
<p>A minimalist layout leaves room only for pure functionality.  Navigating the site is breathtakingly simple!</p>
<p>Managing your database is as easy as clicking a button.  Creating new entries, editing, and deleting - even filtering to find certain groups of entries.  It's all straightforward and self-explanatory.</p>

<h2>Safe and Secure</h2>
<p>Leave the security of your information to us!  Our access requirements ensure your data is only available to verified users.</p>